#mc_embed_signup {
    clear: left;
    font-size: 0.8em;
}

#mc_embed_signup form {
    padding: 10px 0;
    text-align: center;
}

#mc_embed_signup .mc-field-group .email {
    display: inline-block;
    border: 0;
    font-size: 2.5em;
    color: #202f57;
    text-align: center;
    border-bottom: 1px solid gray;
    width: 600px;
    max-width: 75%;
}

#mc_embed_signup .mce_inline_error {
    width: 600px;
    max-width: 90%;
    margin: 0 auto !important;
}

#mc_embed_signup .button {
    background: #47adaa;
    font-size: 1.8em;
    height: auto;
    padding: 0.7em 1.2em;
    margin: 1em 0 0;
}
#mc_embed_signup .button:hover {
    background: #ed6f40;
}

#mc_embed_signup .mc-field-group {
    display: block;
    padding-bottom: 0;
    text-align: center;
    width: auto;
}

#mc_embed_signup div.response {
    width: 100%;
    float: none;
    text-align: center;
    margin-top: 0;
}
