#mc_embed_signup {
    clear: left;
}

#mc_embed_signup form {
    padding: 10px 0;
}

#mc_embed_signup .mc-field-group .email {
    display: inline-block;
    border: 0;
    font-size: 3.5em;
    color: #202f57;
    text-align: center;
    border-bottom: 1px solid gray;
    width: 600px;
    max-width: 90%;
}

#mc_embed_signup .mce_inline_error {
    width: 600px;
    max-width: 90%;
    margin: 0 auto !important;
}

#mc_embed_signup .button {
    background: #d63756;
    font-size: 2.3em;
    height: auto;
    padding: 0.7em 1.2em;
    margin: 0.5em 0 0;
}
#mc_embed_signup .button:hover {
    background: #ed6f40;
}

#mc_embed_signup .mc-field-group {
    display: block;
    padding-bottom: 0;
    text-align: center;
    width: auto;
}

#mc_embed_signup div.response {
    width: 100%;
    float: none;
    text-align: center;
    margin-top: 0;
}



@media only screen and (max-width : 979px){
    #mc_embed_signup {
        font-size: 0.9em;
    }
    #mc_embed_signup .mc-field-group .email {
        width: 550px;
    }
}

@media only screen and (max-width : 767px){
    #mc_embed_signup {
        font-size: 0.7em;
    }
    #mc_embed_signup .mc-field-group .email {
        width: 450px;
    }
}

@media only screen and (max-width : 520px){
    #mc_embed_signup {
        font-size: 0.6em;
    }
    #mc_embed_signup .mc-field-group .email {
        width: 350px;
    }
}
