#mc_embed_signup {
	background: #fff;
	clear: left;
}

#mc_embed_signup form {
	padding: 10px 0;
}

#mc_embed_signup .mc-field-group .email {
	display: inline-block;
    border: 0;
	font-size: 3.5em;
    color: #202f57;
    text-align: center;
}

#mc_embed_signup .button {
    background: #47adaa;
    font-size: 2.3em;
    height: auto;
    padding: 0.7em 1.2em;
    margin: 0.5em 0 0;
}

#mc_embed_signup .mc-field-group {
    display: block;
    padding-bottom: 0;
    text-align: center;
}

#mc_embed_signup div.response {
	width: 100%;
	float: none;
	text-align: center;
	margin-top: 0;
}

@media only screen and (max-width : 767px){
    #mc_embed_signup {
        font-size: 0.9em;
    }
}

@media only screen and (max-width : 520px){
    #mc_embed_signup {
        font-size: 0.8em;
    }
}
