@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #fff;
    background: rgb(42,42,42);
}

.navy { color: #202f57; }
.dark-teal { color: #057d93; }
.teal { color: #47adaa; }
.purple { color: #3f2255; }
.magenta { color: #a73368; }
.orange { color: #f05e3c; }
.red, .error { color: #ed3848; }
.pink { color: #d63756; }
.light-orange { color: #ed6f40; }
.success { color: #0fd016; }

.bold { font-weight: 700; }

.content {
    max-width: 1200px;
    width: 90%;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.btn {
    -webkit-appearance: none;
    text-transform: uppercase;
    background: #47adaa;
    color: #fff;
}

@media only screen and (max-width : 520px){
}