@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body {
    font-family: 'Open Sans', sans-serif;
    padding: 0 25px;
    text-align: center;
    color: #202f57;
}

.navy { color: #202f57; }
.dark-teal { color: #057d93; }
.teal { color: #47adaa; }
.purple { color: #3f2255; }
.magenta { color: #a73368; }
.orange { color: #f05e3c; }
.red, .error { color: #ed3848; }
.pink { color: #d63756; }
.light-orange { color: #ed6f40; }
.success { color: #0fd016; }

img {
    max-height: 100%;
}

.logo-holder {
    margin-top: 1em;
}

.btn {
    -webkit-appearance: none;
    text-transform: uppercase;
    background: #47adaa;
    color: #fff;
}

input {
    padding: 0.375em 0.6em;
    height: auto;
    border: 0;
}

input:focus {
    outline: none;
}

.coming-soon {
    margin-bottom: 0.8em;
    text-transform: uppercase;
    font-size: 4em;
}

#messages {
    min-height: 1.4em;
    font-size: 2em;
}