@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

$navy: #202f57;
$dark-teal: #057d93;
$teal: #47adaa;
$purple: #3f2255;
$magenta: #a73368;
$orange: #f05e3c;
$red: #ed3848;
$pink: #d63756;
$light-orange: #ed6f40;
$yellow: #fdcb5e;

$white: #fff;
$opaque-white: rgba(255, 255, 255, .8);
$gray: #2a2a2a;
$light-gray: #888;

$about: $pink;
$schedule: $teal;
$faq: $yellow;
$sponsors: $navy;
$partners: $orange;

$success: #0fd016;
$error: $red;

$break-lg: 820px;
$break-md: 700px;
$break-sm: 500px;


/* general styles */

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: $white;
    background: $gray;
}

img {
    max-height: 100%;
    max-width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

h2 {
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1em;
}

.content {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.btn {
    -webkit-appearance: none;
    text-transform: uppercase;
    background: $teal;
    color: $white;
    padding: 0.5em 1em;
}

.bold { font-weight: 700; }

.pane {
    border-bottom: 5px solid $yellow;
    padding-top: 3em;
    padding-bottom: 4em;
    font-size: 1.3em;
}

.title {
    text-transform: uppercase;
    font-weight: 300;
    color: $light-gray;
    margin-bottom: 1em;
    margin-top: 1em;
}

:hover {
    transition: color linear .15s;
    transition: color linear .15s;
}


/* splash screen */

.splash {
    background: url(../img/splash-bg.jpg) 50%;
    background-size: cover;
    overflow: hidden;
    font-size: 3em;
    color: $teal;

    @media screen and (max-width: $break-lg) {
        font-size: 2.5em;
    }

    @media screen and (max-width: $break-md) {
        font-size: 2em;
    }

    @media screen and (max-width: $break-sm) {
        font-size: 1.5em;
    }

    .logo {
        width: 900px;
        max-width: 90%;
    }

    .action-buttons {
        margin-top: 0.5em;

        li {
            display: inline-block;
        }

        .btn {
            font-size: 0.8em;
            border: 5px solid $teal;

            &:hover,
            &:focus,
            &:active {
                border-color: $white;
                color: #fff;
                outline: none;
                box-shadow: none;
            }
        }
    }
}

/* breadcrumbs */

.breadcrumbs {
    background: $white;
    font-size: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1px;

    li {
        display: inline-block;
        border: 0.2em solid $white;
        font-size: 1.2em;
        padding-top: 0.8em;
        padding-bottom: 0.8em;

        a {
            color: $light-gray;

            &:hover,
            &:active,
            &:focus,
            &:active:focus,
            &:focus:active {
                background: inherit;
            }
        }
    }

    #about {
        &.active,
        &:hover {
            border-bottom-color: $about;
        }
    }
    #schedule {
        &.active,
        &:hover {
            border-bottom-color: $schedule;
        }
    }
    #faq {
        &.active,
        &:hover {
            border-bottom-color: $faq;
        }
    }
    #sponsors {
        &.active,
        &:hover {
            border-bottom-color: $sponsors;
        }
    }
    #partners {
        &.active,
        &:hover {
            border-bottom-color: $partners;
        }
    }

    &.fixed {
        position: fixed;
        top: 0;
        width: 100%;
        background: url(../img/dog-pink.png), url(../img/logo.png) #fff;
        background-repeat: no-repeat, no-repeat;
        background-size: auto 40px, auto 40px;
        background-position: 20px 50%, 75px 50%;
        text-align: right;
        border-bottom: 1px solid gray;
        z-index: 20;
    }
}

/* about */

.about {
    // background: url(../img/bg-blue-overlay.jpg);
    background: $white;
    color: $light-gray;

    h2,
    .highlight {
        color: $about;
    }
}

/* schedule */

.schedule {
    h2,
    .highlight {
        color: $schedule;
    }

    .schedule-item {
        text-align: left;

        .time,
        .description {
            display: inline-block;
        }

        .time {
            width: 100px;
        }
    }

    .dog-holder,
    .speech-bubble {
        display: inline-block;
    }
    .dog-holder {
        max-width: 100px;

        @media screen and (max-width: $break-sm) {
            max-width: 60px;
        }
    }
}

.speech-bubble {
    background: $white;
    border-radius: 5px;
    border: 5px solid $light-gray;
    color: $schedule;
    padding: 1em;
    margin-top: 4em;
    margin-bottom: 2em;
    margin-left: 1em;
    position: relative;

    &:before,
    &:after {
        position: absolute;
        left: -2.26em;
        top: 50%;
        margin-top: -1em;
        border: 1em solid transparent;
        border-right-color: $light-gray;
        content: '';
    }

    &:after {
        border-right-color: $white;
        left: -1.85em;
    }
}

/* faq */

.faq {
    background: url(../img/bg-blue-overlay.jpg);

    .faq-item {
        text-align: left;

        .question {
            margin: 1em auto 0.5em;
        }
    }
    
    h2,
    .highlight {
        color: $faq;
    }
}

/* sponsors */
/* partners */

.logo-holder {
    .logo {
        margin-bottom: 40px;
        &.gold {
            height: 130px;
        }
        &.silver {
            height: 70px;
        }
        &.api {
            height: 50px;
        }
    }
}

.sponsors {
    background: $white;

    h2 {
        color: $sponsors;
    }
}

.partners {
    background: url(../img/bg-pink-overlay.jpg);

    h2 {
        color: $partners;
    }
}


/* footer */

.footer {
    border-bottom-color: transparent;
    padding-top: 4em;

    .footer-logo,
    .footer-dog {
        max-width: 300px;
        text-align: center;
        margin: 0 auto;
    }

    .footer-dog {
        margin-top: 1em;
        max-width: 100px;
    }

    .social-links {
        margin-top: 1em;
        
        li {
            display: inline-block;
            margin: 0 0.3em;
        }

        a {
            font-size: 1.5em;
            color: $white;
            opacity: 0.7;

            &:hover {
                opacity: 1;
            }
        }
    }
}